[Desktop Entry]
Name=crudcontacts2 App
Comment=Super Cool App that does everything
Exec=crudcontacts2
Icon=${SNAP}/meta/gui/crudcontacts2.png # replace name to your app name
Terminal=false
Type=Application
Categories=Education; #adjust accordingly your snap category
